@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");
* {
  margin: 0;
  font-family: "Poppins", "sans-serif";
}
.container_01 {
  flex-direction: column;
  background-color: #010a1b;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.first_col {
  /* padding: 10px 20px 10px 5px; */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.first_col h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #0099ef;
  margin-bottom: 1.1rem;
}
.div_fields {
  background-color: white;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  /* padding: 25px 25px 25px 25px; */
  align-items: center;
  justify-content: center;
  align-content: center;
}
.fields {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.name_field {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input_01 {
  width: 98%;
  margin: 2px;
  display: flex;
  flex-direction: column;
  top: 310px;

  position: absolute;
}
.input_01 input {
  margin: 6px;
  height: 36px;
  width: 50%;
  padding-top: 3px;
  border: none;
  background-color: rgb(222, 222, 222);
  padding-left: 11px;
  border-radius: 4px;
  resize: vertical;
}
.input_02 {
  position: absolute;
  margin-top: -100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  align-content: space-around;
  top: 230px;
}
.input_02 input,
textarea {
  width: 90%;
  padding-top: 3px;
  height: 45px;
  margin: 9px;
  border: none;
  background-color: rgb(222, 222, 222);
  border-radius: 4px;
  resize: vertical;
}
label {
  display: flex;
  height: 30px;
  margin-left: 3px;
  font-weight: 500;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
}
::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  margin-left: 16px;
  padding-left: 10px;
}
input {
  display: flex;
  height: 35px;
  border-radius: 6px;
  border: 1px solid rgb(255, 255, 255);
}
.form_input {
  border-radius: 3px;
  background-color: #e5e5e5;
  height: 35px;
  width: 90%;
  width: 200px;
  border: 1px;
}
/* .address_input,
.email_input,
.phone_input,
.facebook_input,
.insta_input,
.linked_input,
.Qualification_input,
.experience_input,
.about_input,
.Skills_input,
.input_title,
.input_company {
  display: block;
  margin-left: 9px;
  width: 100%;
  background-color: #e5e5e5;
  border: 1px solid rgb(255, 255, 255);
} */

.photo_field {
  display: flex;
  margin: 18px 0px 6px 3px;
  align-items: center;
  justify-content: center;
}

.supp {
  height: 35px;
  display: flex;
  width: 100%;
  font-weight: 600;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #0099ef;
  color: white;
  border-color: #0099ef;
}
.supp:hover {
  background-color: #05a3ff;
  color: white;
}
/* first column end here ---||---  */

.second_col {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.second_col h2 {
  display: flex;
  align-items: center;
  font-size: 27px;
  color: #0099ef;
  align-content: center;
  justify-content: center;
  margin-bottom: 0.9rem;
}
.box_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 10px;
}
button {
  width: 50%;
  height: 36px;
  margin: 9px;
}
/* Second column end here ---||--- */

.third_col {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.third_col h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 27px;
  color: #0099ef;
}

label {
  margin-left: 5px;
  color: #000000;
  width: 90%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.add_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 10px 10px;
  width: 160px;
  align-content: center;
}
.dateadd {
  display: inherit;
}

.btns {
  display: flex;
  border-radius: 6px;
  border: 1px;
  font-weight: 530;
  align-content: center;
  /* height: 150px; */
  width: 100%;
  justify-content: center;
  align-items: center;
}
.btn_gen {
  display: none;
  position: relative;
  padding: 7px;
  border: 1px;
  width: 100px;
  font-weight: 500;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: #007a63;
}
.btn_gen_text {
  transition: all 0.2s;
  color: white;
}
.back_button {
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: 1px;
}
.next_button {
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: 1px;
}
.angle0 {
  margin-right: 6px;
  font-size: 17px;
}

.angle1 {
  margin-left: 6px;
  font-size: 17px;
}
.back_button:hover {
  color: rgb(194, 3, 3);
}
.btn_gen_text:hover,
.next_button:hover {
  color: rgb(2, 164, 2);
}

/* .button--loading::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button--loading-spinner 1s ease infinite;
}

@keyframes button--loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
} */
/* Third column end here ---||--- */

.four_col {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-content: center;
}
.four_col h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 27px;
  color: #ce4a11;
  position: absolute;
  top: 15px;
}
.plabel {
  position: absolute;
  /* top: 25px; */
  top: -39px;
}
.elable {
  position: absolute;
  top: -50px;
}
.slabel {
  position: absolute;
  top: 10px;
}
.input_profec {
  position: absolute;
  top: 130px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.Qualification_input {
  background: #d9d9d9;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.s_date {
  box-sizing: border-box;
  width: 45%;
  height: 48px;
  position: absolute;
  top: 145px;
  background: #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.e_date {
  box-sizing: border-box;
  width: 45%;
  height: 48px;
  left: 205px;
  top: 145px;
  position: absolute;
  background: #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.qbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  width: 354px;
  height: 50px;
  outline: none;
  /* left: 12px; */
  top: 205px;
  border: none;
  position: absolute;
  background: #ce4a11;
  border-radius: 6px;
}
.input_educ {
  display: flex;
  position: absolute;
  top: 260px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.input_skl {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  top: 545px;
  height: 210px;
  position: absolute;
  align-content: center;
}
.Skills_input {
  box-sizing: border-box;
  width: 90%;
  height: 48px;
  top: 55px;
  left: 21px;
  position: absolute;
  background: #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.sbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  width: 354px;
  height: 50px;
  outline: none;
  /* left: 12px; */
  top: 110px;
  border: none;
  position: absolute;
  background: #ce4a11;
  border-radius: 6px;
}
/* Forth column end here ---||--- */

.five_col {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
}
.five_col h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  top: 21px;
  position: absolute;
  margin-bottom: 27px;
  color: #ce4a11;
  text-align: center;
}
.input_cert {
  display: flex;
  width: 100%;
  top: 150px;
  position: absolute;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.cpbtn {
  background-color: #1b56ca;
  color: white;
  border: 1px;
  border-radius: 3px;
}
.btns span {
  background: white;
  height: 36px;
  width: 31px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-content: center;
  align-items: center;
}
.input_proj {
  display: flex;
  width: 100%;
  position: absolute;
  top: 450px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.ld_des {
  width: 90%;
  padding-top: 3px;
  margin: 9px;
  height: 100px;
  border: none;
  background-color: rgb(222, 222, 222);
  border-radius: 4px;
  resize: vertical;
}
.cp_class {
  width: 90%;
  padding-top: 3px;
  height: 45px;
  margin: 9px;
  border: none;
  background-color: rgb(222, 222, 222);
  border-radius: 4px;
  resize: vertical;
}
.cpbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  width: 354px;
  height: 50px;
  outline: none;
  /* left: 12px; */
  top: 220px;
  border: none;
  position: absolute;
  background: #ce4a11;
  border-radius: 6px;
}
.cpbtn span {
  position: absolute;
  /* width: 163px; */
  height: 25px;
  font-family: "Inter";
  font-style: normal;
  width: 90%;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  display: flex;
  text-align: center;
  background: transparent;
}
/* Fifth column end here ----||---- */

.direction_button {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  top: 769px;
}

.first_col,
.second_col,
.third_col,
.four_col {
  width: 100%;
  height: 100vh;
}

.file-upload {
  /* background-color: #ffffff; */
  margin: 0 auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1fb264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1fb264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824b;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}

@media (max-width: 420px) {
  input {
    width: 90%;
    left: 12px;
  }
  .first_col h3 {
    position: absolute;
    width: 372px;
    height: 51px;
    /* left: 9px; */
    top: 41px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;

    color: #ce4a11;
  }
  .Your_photo {
    box-sizing: border-box;
    position: absolute;
    width: 90%;
    height: 50px;
    left: 12px;
    top: 672px;
    background: #ce4a11;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }
  .Your_photo span {
    /* width: 191px; */
    height: 25px;
    left: 100px;
    top: 684px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
  }
  /* #fn {
    position: absolute;
    width: 90px;
    height: 21px;
    left: 23px;
    top: 104px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 17.6676px;
    line-height: 21px;

    color: #000000;
  }

  #nameField_first {
    position: absolute;
    width: 90%;
    height: 50px;
    left: 12px;
    top: 132px;
    background: #d9d9d9;
    border-radius: 6px;
  }
  #ln {
    position: absolute;
    width: 89px;
    height: 21px;
    left: 23px;
    top: 213px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 17.6676px;
    line-height: 21px;

    color: #000000;
  }
  #nameField_last {
    position: absolute;
    width: 90%;
    height: 50px;
    left: 12px;
    top: 242px;

    background: #d9d9d9;
    border-radius: 6px;
  }
  #pn {
    position: absolute;
    width: 83px;
    height: 21px;
    left: 23px;
    top: 324px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 17.6676px;
    line-height: 21px;

    color: #000000;
  }
  #contactField-phone {
    position: absolute;
    width: 90%;
    height: 50px;
    left: 12px;
    top: 351px;
    background: #d9d9d9;
    border-radius: 6px;
  }
  #en {
    position: absolute;
    width: 46px;
    height: 21px;
    left: 23px;
    top: 437px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 17.6676px;
    line-height: 21px;

    color: #000000;
  }
  #contactField-email {
    position: absolute;
    width: 90%;
    height: 50px;
    left: 12px;
    top: 465px;

    background: #d9d9d9;
    border-radius: 6px;
  }
  #ya {
    position: absolute;
    width: 72px;
    height: 21px;
    left: 23px;
    top: 545px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 17.6676px;
    line-height: 21px;

    color: #000000;
  }
  #addressField {
    position: absolute;
    width: 90%;
    height: 50px;
    left: 12px;
    top: 575px;

    background: #d9d9d9;
    border-radius: 6px;
  }
  
  */
  #f_li {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 24px;
    top: 131px;

    background: #bf5d03;
  }
  #f_text {
    position: absolute;
    width: 302px;
    height: 66px;
    left: 50px;
    top: 123px;
    list-style: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
  }
  #s_li {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 24px;
    top: 213px;

    background: #bf5d03;
  }
  #s_text {
    position: absolute;
    width: 303px;
    height: 66px;
    left: 50px;
    top: 205px;
    list-style: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
  }
  .imp_text {
    display: flex;
    height: 100px;
    top: 10px;
    width: 100%;
    position: absolute;
  }
  .second_col h2 {
    position: absolute;
    width: 270px;
    height: 42px;
    left: 60px;
    top: 41px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;

    color: #ce4a11;
  }
  #linked_btn,
  #linkedinField {
    box-sizing: border-box;
    /* position: absolute; */
    width: 90%;
    height: 48px;
    left: 12px;
    top: 311px;
    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  #codechef_btn,
  #codeChefField {
    box-sizing: border-box;

    /* position: absolute; */
    width: 90%;
    height: 48px;
    left: 12px;
    top: 388px;

    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  #leetcode_btn,
  #fbField {
    box-sizing: border-box;

    /* position: absolute; */
    width: 90%;
    height: 48px;
    left: 12px;
    top: 465px;

    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  #github_btn,
  #githubField {
    box-sizing: border-box;

    /* position: absolute; */
    width: 90%;
    height: 48px;
    left: 12px;
    top: 542px;

    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  #insta_btn,
  #instaField {
    box-sizing: border-box;
    width: 90%;
    height: 48px;
    left: 12px;
    top: 619px;

    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  .third_col h3 {
    position: absolute;
    width: 288px;
    height: 42px;
    left: 51px;
    top: 25px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;

    color: #ce4a11;
  }
  #your-about-info {
    box-sizing: border-box;
    width: 90%;
    height: 127px;
    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  .input_title {
    width: 90%;
    height: 50px;
    /* left: 17px; */
    top: 322px;
    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 18px;
  }
  .input_company {
    box-sizing: border-box;
    width: 90%;
    height: 50px;
    left: 18px;
    top: 395px;
    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 18px;
  }
  .dateadd_1 {
    box-sizing: border-box;
    width: 171px;
    height: 48px;
    left: 17px;
    top: 468px;
    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  .dateadd_2 {
    box-sizing: border-box;
    width: 166px;
    height: 48px;
    left: 205px;
    top: 468px;
    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  .weField {
    box-sizing: border-box;
    width: 90%;
    height: 127px;
    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 354px;
    height: 50px;
    outline: none;
    /* left: 12px; */
    top: 380px;
    border: none;
    position: absolute;
    background: #ce4a11;
    border-radius: 6px;
  }
  .btns span {
    position: absolute;
    /* width: 163px; */
    height: 25px;
    font-family: "Inter";
    font-style: normal;
    width: 90%;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
    display: flex;
    text-align: center;
    background: transparent;
  }
  button span {
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 15px;
  }
  .back_can_btn {
    display: flex;
    width: 100%;
    position: absolute;
    top: 460px;
    height: 50px;
    justify-content: space-around;
    font-size: 21px;
    align-items: center;
    align-content: center;
  }
  .bbtn {
    background: #25b429;
    width: 30%;
    text-align: center;
    height: 48px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    align-content: center;
  }
  .cancle_btn {
    background: #df2606;
    height: 48px;
    display: flex;
    text-align: center;
    width: 30%;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 6px;
  }
  .input_0 {
    display: flex;
    top: 82px;
    position: absolute;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .input_00 {
    top: 250px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    align-content: center;
    position: absolute;
    width: 100%;
    /* height: 400px; */
    left: 0px;
    flex-direction: column;
  }
  .input_ {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  #alable {
    height: 21px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 17.6676px;
    line-height: 21px;
    color: #000000;
  }
  .input_00 #elable {
    height: 21px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    color: #000000;
  }

  .bcc {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 280px;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
  }
  .back_button {
    width: 39%;
    height: 44px;
    left: 12px;
    background: #d9d9d9;
    border-radius: 3px;
  }
  .next_button {
    width: 39%;
    height: 44px;
    left: 210px;
    background: #d9d9d9;
    border-radius: 3px;
  }
  #bt_gen {
    width: 39%;
    height: 44px;
    left: 12px;
    background: #d9d9d9;
    border-radius: 3px;
  }
}
