@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kanit:wght@400;500;600;800;900&family=Poppins:wght@200;300;400;500;600&display=swap");

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}

.front_page {
  background-color: #01031b;
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.bg_img {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(./High_resolution_wallpaper_background_ID_77701662885.jpg);
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: relative;
  justify-content: center;
  text-align: center;
  /* margin-bottom: 120px; */
  background-color: (0, 0, 0, 0.6);
  padding: 20px;
}
.main_div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-content: flex-start;
  width: fit-content;
  margin-bottom: 15px;
  /* box-shadow: inset 2px 2px 10px 7px #173643; */
  /* box-shadow: inset 0px 0px 20px 0px #395460; */
  /* background-color: #132f3b; */
  padding: 20px 10px 30px 10px;
  border-radius: 6px;
  background-color: rgb(255 255 255 / 30%);
  font-weight: 700;
}
.main_div1 h1 {
  justify-content: center;
  font-size: 32px;
  line-height: 34px;
  display: flex;
  margin-bottom: 1px;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.main_div1 h1 span {
  margin-left: 9px;
  color: hwb(193deg 0% 0%);
}
.main_div1 img {
  margin-top: 25px;
  height: 300px;
}
.lead {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  font-size: 19px;
  margin-bottom: 15px;
  line-height: 24px;
  color: black;
}
.btn_gs {
  display: flex;
  text-decoration: none;
  background-color: rgb(2 137 255);
  color: white;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 3px;
}

#r_img_04:hover,
#r_img_05:hover {
  opacity: 1;
  display: block;
  height: 350px;
  width: 250px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
#r_img_05 .middle {
  top: 75%;
  right: 25%;
}
.middle,
.middle_01 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.mySlides:hover #r_img_04,
.mySlides:hover #r_img_05 {
  opacity: 0.3;
}

.mySlides:hover .middle,
.mySlides:hover .middle_01 {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@media screen and (max-width: 420px) {
  #r_img_05 .middle {
    top: 80%;
    left: 35%;
  }
  .middle {
    top: 70%;
    left: 50%;
  }
  .middle_01 {
    top: 90%;
    left: 50%;
  }
}
