@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kanit:wght@400;500;600;800;900&family=Poppins:wght@200;300;400;500;600&display=swap");

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.hamburger,
.cros_ic,
.login_btn {
  display: none;
}
.front_page {
  background-color: #01031b;
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.menu_icons {
  color: rgb(0, 0, 0);
}
.logo_text {
  font-size: 24px;
}
.bg_img {
  background: #0481b2;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(./High_resolution_wallpaper_background_ID_77701662885.jpg); */
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: relative;
  justify-content: center;
  text-align: center;
  background-color: (0, 0, 0, 0.6);
  padding: 20px;
  margin-top: -50px;
}
.main_div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-content: flex-start;
  width: fit-content;
  margin-bottom: 15px;
  padding: 20px 10px 30px 10px;
  border-radius: 6px;
  background-color: rgb(255 255 255 / 30%);
  font-weight: 700;
  height: 350px;
}
.main_div1 h1 {
  justify-content: center;
  font-size: 32px;
  line-height: 34px;
  display: flex;
  margin-bottom: 1px;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.main_div1 h1 span {
  margin: 0px 9px;
  color: #4c4c4c;
}
.main_div1 img {
  display: none;
  margin-top: 25px;
  height: 300px;
}
.lead {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  font-size: 19px;
  margin-bottom: 15px;
  line-height: 24px;
  color: black;
  text-align: center;
}
.btn_gs {
  width: 165px;
  display: flex;
  text-decoration: none;
  background-color: #e8065f;
  box-shadow: 0px 0px 4px black;
  color: white;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 43px;
  border-radius: 3px;
}

#r_img_04:hover,
#r_img_05:hover {
  opacity: 1;
  display: block;
  height: 350px;
  width: 250px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
#r_img_05 .middle {
  top: 75%;
  right: 25%;
}

.mySlides:hover #r_img_04,
.mySlides:hover #r_img_05 {
  opacity: 0.3;
}

.mySlides:hover .middle,
.mySlides:hover .middle_01 {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@media screen and (max-width: 420px) {
  #r_img_05 .middle {
    top: 80%;
    left: 35%;
  }
  .logo_text {
    margin-left: -111px !important;
  }
  .main_div1 {
    height: 680px;
  }
  .main_div1 img {
    display: flex;
    margin-top: 25px;
    height: 300px;
  }
}
