@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");

.container_01 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.wrapper {
  display: flex;
  height: 100vh;
  align-content: center;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.updiv {
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
.first_col {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.first_col h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  color: #0099ef;
}
.div_fields {
  display: flex;
  flex-direction: column;
  margin: 12px;
  width: 90%;
}
.fields {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  display: flex;
  height: 30px;
  margin-left: 3px;
  font-weight: 500;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Poppins", sans-serif;
  margin-left: 16px;
  padding-left: 10px;
}
input {
  display: flex;
  box-sizing: border-box;
  height: 35px;
  border-radius: 6px;
  border: 1px solid rgb(255, 255, 255);
}
.form_input {
  border-radius: 3px;
  background-color: #e5e5e5;
  height: 35px;
  border: 1px;
}
input[type="file"] {
  opacity: 0; /* make transparent */
  z-index: -1; /* move under anything else */
  position: absolute; /* don't let it take up space */
}
.photo_field {
  display: flex;
  margin: 18px 0px 6px 3px;
  align-items: center;
  justify-content: center;
}
.supp {
  height: 35px;
  display: flex;
  width: 100%;
  font-weight: 600;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #0099ef;
  color: white;
  border-color: #0099ef;
}
.supp:hover {
  background-color: #05a3ff;
  color: white;
}
