@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");

.container_01 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.first_col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.first_col h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  color: #0099ef;
  margin-bottom: 1.1rem;
}
.div_fields {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  padding: 0px 25px 0px 25px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.fields {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.name_field {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input_01 {
  width: 100%;
  margin: 2px;
  display: flex;
}
.input_01 input {
  margin: 6px;
  /* margin-left: 3px; */
  height: 36px;
  width: 50%;
  padding-top: 3px;
  border: none;
  background-color: rgb(222, 222, 222);
  padding-left: 11px;
  border-radius: 4px;
  resize: vertical;
}
.input_02 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 96%;
  /* flex-wrap: wrap; */
  align-content: space-around;
}
.input_02 input,
textarea {
  /* height: 36px; */
  width: 100%;
  /* padding-left: 9px; */
  padding-top: 3px;
  margin: 9px;
  border: none;
  background-color: rgb(222, 222, 222);
  border-radius: 4px;
  resize: vertical;
}
label {
  display: flex;
  height: 30px;
  margin-left: 3px;
  font-weight: 500;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Poppins", sans-serif;
  margin-left: 16px;
  padding-left: 10px;
}
input {
  display: flex;
  height: 35px;
  border-radius: 6px;
  border: 1px solid rgb(255, 255, 255);
}
.form_input {
  border-radius: 3px;
  background-color: #e5e5e5;
  height: 35px;
  width: 90%;
  width: 200px;
  border: 1px;
  /* margin-left: 12px; */
}
.address_input,
.email_input,
.phone_input,
.facebook_input,
.insta_input,
.linked_input,
.Qualification_input,
.experience_input,
.about_input,
.Skills_input,
.input_title,
.input_company {
  display: block;
  margin-left: 9px;
  width: 100%;
  background-color: #e5e5e5;
  border: 1px solid rgb(255, 255, 255);
}

.photo_field {
  display: flex;
  margin: 18px 0px 6px 3px;
  align-items: center;
  justify-content: center;
}

.supp {
  height: 35px;
  display: flex;
  width: 100%;
  font-weight: 600;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #0099ef;
  color: white;
  border-color: #0099ef;
}
.supp:hover {
  background-color: #05a3ff;
  color: white;
}
