* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: inherit;
  flex-direction: column;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 100vh;
}
.row {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* ------------------- left resume ---------------- */
.left_resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #020d1e;
  color: white;
  font-size: 12px;
  width: 30%;
}
.full_name {
  font-size: 18px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.occupation {
  font-size: 15px;
}
.eca {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80%;
}
.social_links h4 {
  font-size: 18px;
}
.social_links a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.social_links {
  display: flex;
  flex-direction: column;
}
.skills {
  color: white;
}
/* ------------------- right_resume ------------------*/
.right_resume {
  display: flex;
  width: 70%;
  padding: 25px;
  flex-direction: column;
  background-color: #b88242;
}
.right_resume h1 {
  display: flex;
  font-size: 45px;
  color: #0099ef;
  margin-bottom: 1px;
  align-content: center;
  justify-content: center;
}

.card_container {
}
.card_header h2 {
  font-size: 27px;
  margin-bottom: 3px;
}
.card_body {
  display: flex;
  flex-direction: column;
}
.subtitle,
.description {
  margin-left: 22px;
}
.exp_main {
  display: flex;
  justify-content: space-between;
}
.your_position {
  font-size: 18px;
}
.time_period {
  font-size: 15px;
}
#addressT {
  margin-left: 6px;
}
.myimg {
  margin-top: 50px;
  border-radius: 50%;
  width: 175px;
}

@media (max-width: 480px) {
  .myimg {
    width: 100px;
    margin-top: 33px;
  }
  .skills h6 {
    margin: 15px 0px 6px 0px;
    color: white;
  }
  .order_skl {
    font-size: 10px;
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
  }
  li {
    margin-bottom: 6px;
  }
}
