h1 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.mySlides {
  margin-top: 15px;
}
.res_img {
  vertical-align: middle;
  height: 350px;
  width: 250px;
}

.slideshow-container {
  width: 100%;
  background-color: rgb(2 12 45);
  position: relative;
  margin: auto;
  display: flex;
  height: 100%;
  padding: 25px 0px;
  flex-flow: row wrap;
  place-content: center space-around;
  align-items: center;
}
.imagee {
  display: flex;
  /* height: 380px; */
  justify-content: center;
  align-items: center;
  padding: 25px 20px 20px 20px;
  background-color: #1a1a3f;
  border-radius: 9px;
  flex-direction: column;
  box-shadow: inset 0px 1px 12px 6px #1a1a3f;
}
.imagee h4 {
  opacity: 0;
}
.imagee:hover {
  opacity: 1;
}
.cl_h {
  width: 250px;
  height: 42px;
  margin-top: 9px;
  box-shadow: inset 0px 1px 1px 0px #1a1a3f;
  background-color: #13133b;
  outline: 1px solid rgb(9 27 64);
  color: #04aa6d;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.cl_h:hover {
  outline: 1px solid white;
}
