.second_col {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.second_col h2 {
  display: flex;
  align-items: center;
  font-size: 27px;
  color: #0099ef;
  align-content: center;
  justify-content: center;
  margin-bottom: 0.9rem;
}
