.nav_container {
  display: flex;
  padding: 9px;
  height: 55px;
  align-items: center;
  box-shadow: -5px 0px 5px black;
}
.n_cp {
  width: 100%;
  display: flex;
}
.logo {
  margin-left: 15px;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 39px;
  font-weight: 600;
}
.hamburger {
  display: none;
}
.menu {
  display: flex;
  margin-right: 15px;
}
.menuItem {
  display: flex;
  margin-left: 27px;
  color: black;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
  display: flex;
  /* width: 100%; */
}

#cv-template {
  display: none;
}

.background {
  background-color: rgb(58, 58, 58);
}

.background_01 {
  color: black;
  background-color: rgb(253, 253, 253);
}
#fbT,
#instaT,
#linkedT {
  text-decoration: none;
  color: #2aacea;
}

.ab_footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  justify-content: center;
  background-color: #707070;
  color: black;
}

.s_text,
.p_text {
  text-decoration: none;
  color: white;
}

.lead {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  font-size: 18px;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  body {
    margin: 0px;
  }
  .logo {
    font-size: 30px;
  }
  .menu {
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    top: 72px;
    right: 70px;
    left: -72px;
    bottom: 0;
    z-index: 99;
    list-style: none;
    padding-top: 4rem;
    background: #031d28;
  }

  .menuItem {
    margin-left: 0px;
    height: 50px;
    display: flex;
    color: white;
    margin-bottom: 12px;
    background-color: #546e7a;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 25px;
    font-family: sans-serif;
    font-weight: 600;
    flex-wrap: wrap;
  }
  .n_cp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  }
  .hamburger {
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: flex-start;
    cursor: pointer;
    color: black;
    height: 35px;
    font-size: 33px;
    width: 35px;
  }
  .cros_ic {
    display: none;
    color: black;
    height: 35px;
    font-size: 33px;
    width: 35px;
  }
  .slideshow-container {
    justify-content: center;
    cursor: pointer;
  }
  .showMenu {
    margin-right: 0px;
    background: #031d28;
    display: flex;
    transform: translateX(70px);
    flex-direction: column;
    top: 72px;
    right: 70px;
    left: -72px;
  }
  .closeIcon {
    display: none;
  }

  .main_div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: flex-start;
    width: fit-content;
    margin-bottom: 15px;
  }
  .main_div1 h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .btn_gs {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    line-height: 22px;
    font-size: 18px;
    padding: 8px 12px;
  }
  .ab_footer p {
    font-size: 15px;
  }
}
