* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.resume_section_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.resume_container {
  width: 80%;
  display: flex;
  height: 100%;
  position: relative;
}
.operation_buttons {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 20px;
}
.user_name {
  text-align: center;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}
span {
  font-weight: 600;
  margin: 0px 6px 0px 3px;
}
li {
  list-style: none;
  margin-right: 9px;
  text-decoration: none;
}
.education,
.Experience,
.projects,
.achivements,
.experience_container,
.technical-skills {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.qualification_title {
  display: flex;
  justify-content: space-between;
}
.achivement__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
}
label {
  font-size: 27px;
  font-weight: bold;
}

@media screen and(min-width:1024px) {
  .container {
    height: 100vh;
  }
}
@media screen and(max-width:720px) {
  .container {
    height: 780px;
  }
  .important_links ul {
    flex-direction: column !important;
  }
}

@media screen and(max-width:420px) {
}
@media screen and(max-width:370px) {
}
