@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");
* {
  margin: 0;
  font-family: "Poppins", "sans-serif";
}
body {
  height: 100vh;
}
.container_01 {
  flex-direction: column;
  background-color: #25252a;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
  position: absolute;
  width: 100%;
}
.first_col,
.second_col,
.third_col,
.four_col,
.five_col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 550px;
  background-color: blueviolet;
  height: 784px;
  border-radius: 6px;
}

.first_col h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #ffffff;
  position: absolute;
  top: 38px;
  margin-bottom: 1.1rem;
  text-align: center;
}
.div_fields {
  display: flex;
  flex-direction: column;
  padding: 10px 25px 0px 25px;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 487px;
  top: 29px;
  position: absolute;
  border-radius: 6px;
}
.fields {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Your_photo {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  height: 45px;
  font-size: 15px;
  border: 2px solid cornsilk;
  font-weight: 600;
  background: azure;
  top: 639px;
  position: absolute;
  border-radius: 3px;
}
.name_field {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input_01 {
  gap: 12px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 305px;
}
.box_input button {
  border: none;
  background-color: rgb(45 16 77);
  box-shadow: 0px 0px 3px black;
  top: 533px;
  margin: 9px;
  color: white;
  outline: none;
  width: 232px;
  font-size: 15px;
  height: 48px;
  align-items: center;
}
.box_input input {
  width: 350px;
  padding-top: 3px;
  height: 45px;
  margin: 9px;
  border: none;
  color: #fff;
  background-color: rgb(45 16 77);
  box-shadow: 0px 0px 3px black;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
}
.box_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.input_02 {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 481px;
  top: 84px;
  padding: 20px 0px 20px 0px;
  align-content: space-around;
}
.input_02 input,
textarea,
input {
  width: 418px;
  padding-top: 3px;
  height: 45px;
  margin: 9px;
  border: none;
  color: #fff;
  background-color: rgb(45 16 77);
  box-shadow: 0px 0px 3px black;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
}
label {
  display: flex;
  height: 30px;
  margin-left: 3px;
  font-weight: 500;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
}
::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  margin-left: 16px;
  padding-left: 10px;
}
#your-about-info,
#your_company_description {
  height: 95px;
}
.form_input {
  border-radius: 3px;
  background-color: #e5e5e5;
  height: 35px;
  width: 90%;
  width: 200px;
  border: 1px;
}

.photo_field {
  display: flex;
  margin: 18px 0px 6px 3px;
  align-items: center;
  justify-content: center;
}

.supp {
  height: 35px;
  display: flex;
  width: 100%;
  font-weight: 600;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #0099ef;
  color: white;
  border-color: #0099ef;
}
.supp:hover {
  background-color: #05a3ff;
  color: white;
}
/* first column end here ---||---  */

.second_col {
  display: none;
}
.second_col h2 {
  display: flex;
  align-items: center;
  font-size: 45px;
  color: #0099ef;
  top: 28px;
  position: absolute;
  align-content: center;
  justify-content: center;
  margin-bottom: 0.9rem;
}
.imp_text {
  width: 370px;
  font-size: 18px;
  position: absolute;
  top: 118px;
  color: #fff;
}
.box_input input {
  display: none;
}
/* Second column end here ---||--- */

.third_col {
  display: none;
}

.third_col h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 27px;
  color: #0099ef;
  position: absolute;
  top: 24px;
}
.input_0 {
  display: flex;
  position: absolute;
  top: 95px;
  width: 458px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.input_00 {
  position: absolute;
  top: 258px;
  width: 458px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input_ {
  width: 438px;
  display: flex;
  gap: 6px;
}
.input_profec {
  display: flex;
  width: 450px;
  position: absolute;
  top: 99px;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input_educ {
  width: 450px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px 15px 0px;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 200px;
}
.input_skl {
  width: 450px;
  display: flex;
  top: 512px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
label {
  color: #ffffff;
  width: 90%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.bcc {
  display: flex;
  padding: 15px 0px 15px 0px;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.add_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 10px 10px;
  width: 160px;
  align-content: center;
}
.dateadd {
  display: inherit;
}

#btn1,
#btn2,
#btn3 {
  color: #0099ef;
  font-weight: 500;
  background-color: white;
}
.qbtn,
.sbtn {
  width: 210px;
  font-size: 16px;
  height: 45px;
  margin-top: 10px;
}
.btns {
  display: flex;
  border-radius: 6px;
  border: 1px;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-weight: 530;
  height: 56px;
  margin-top: 6px;
}
.btn {
  width: 207px;
  text-align: center;
  display: flex;
  align-items: center;
  height: 45px;
  font-size: 16px;
  justify-content: center;
  align-content: center;
}

.btn_gen {
  display: none;
  position: relative;
  padding: 7px;
  border: 1px;
  width: 100px;
  font-weight: 500;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: #007a63;
}
.btn_gen_text {
  transition: all 0.2s;
  color: white;
}
.back_button,
.next_button {
  width: 120px;
  height: 45px;
  font-weight: 600;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 3px;
  border: 1px;
}
.angle0 {
  margin-right: 6px;
  font-size: 17px;
}

.angle1 {
  margin-left: 6px;
  font-size: 17px;
}
.back_button:hover {
  color: rgb(194, 3, 3);
}
.btn_gen_text:hover,
.next_button:hover {
  color: rgb(2, 164, 2);
}

.four_col {
  display: none;
}
.four_col h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 27px;
  top: 29px;
  position: absolute;
  color: #0099ef;
}
/* Forth column end here ---||--- */

.five_col {
  display: none;
}
.five_col h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 27px;
  color: #0099ef;
  position: absolute;
  text-align: center;
  top: 26px;
  width: 264px;
}
.cpbtn {
  background-color: #1b56ca;
  color: white;
  border: 1px;
  border-radius: 3px;
}

/* Fifth column end here ----||---- */

.direction_button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: absolute;
  width: 533px;
  top: 727px;
}
#db_05 {
  width: 451px;
  top: 680px;
}
.btn_gen_text {
  margin-top: 15px;
}
.file-upload {
  /* background-color: #ffffff; */
  margin: 0 auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1fb264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1fb264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824b;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}
#addressField {
  height: 86px;
}
.input_cert {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  align-items: center;
  top: 156px;
}
.input_proj {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 374px;
  align-items: center;
}
.btn_gen_text {
  transition: all 0.2s;
  font-size: 18px;
  color: #fff;
  background: #29ca8e;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  place-content: center;
  display: grid;
  box-shadow: 0 8px 5px -5px rgb(0 0 0 / 20%);
}
.cpbtn {
  color: white;
  margin-top: 20px;
  border: 1px solid #ffee00;
  background-color: transparent;
  border-radius: 3px;
  border: none;
  background: #002be2;
  top: 550px;
  margin: 9px;
  color: white;
  outline: none;
  width: 180px;
  font-size: 15px;
  height: 45px;
  align-items: center;
}
@media screen and (max-width: 580px) {
  .first_col,
  .second_col,
  .third_col,
  .four_col,
  .five_col {
    width: 460px;
  }
  .input_02 {
    width: 431px;
  }
  .div_fields {
    width: 426px;
  }
  #db_01 {
    top: 721px;
    width: 472px;
  }
  label {
    margin-left: 15px;
  }
  #db_02 {
    top: 719px;
    width: 476px;
  }
  #db_03 {
    width: 465px;
  }
  #db_04 {
    width: 460px;
  }
  #db_05 {
    width: 462px;
    top: 691px;
  }
  .btn_gen_text {
    margin-top: 15px;
  }
}
@media screen and (max-width: 480px) {
  label {
    margin-left: 2px;
  }
  .input_02 input,
  textarea,
  input {
    width: 338px;
  }
  .first_col,
  .third_col,
  .four_col,
  .five_col {
    width: 380px;
  }
  .first_col h3 {
    width: 80%;
    top: 14px;
  }
  #db_01 {
    width: 391px;
    top: 735px;
  }
  .div_fields {
    width: 367px;
  }
  .input_02 {
    top: 109px;
    width: 368px;
  }
  .Your_photo {
    top: 659px;
  }
  .second_col {
    width: 380px;
    top: 33px;
  }
  .second_col h2 {
    top: 37px;
    font-size: 41px;
  }
  .imp_text {
    width: 326px;
  }
  #db_02 {
    width: 386px;
  }
  .div_fields {
    height: 790px;
  }
  .direction_button {
    top: 749px;
    width: 331px;
  }
  #db_03 {
    width: 415px;
    top: 729px;
  }
  .four_col h3 {
    font-size: 41px;
    top: 31px;
  }
  .input_0,
  .input_00 {
    width: 390px;
  }
  .input_profec,
  .input_educ,
  .input_skl {
    width: 394px;
  }

  .input_profec {
    top: 115px;
  }
  .input_educ {
    top: 213px;
  }
  .input_skl {
    top: 523px;
  }
  #db_04 {
    width: 414px;
  }
  .input_ {
    width: 377px;
  }
  .five_col h3 {
    width: 253px;
  }
  .input_cert {
    top: 157px;
  }
  .input_proj {
    top: 382px;
  }
  .btn_gen_text {
    margin-top: 16px;
  }
  #db_05 {
    top: 688px;
    width: 391px;
  }
}
@media screen and (max-width: 420px) {
  .input_02 input,
  textarea,
  input {
    width: 95%;
  }
  #addressField {
    height: 91px;
  }
  .first_col h3 {
    font-size: 33px;
    top: 17px;
    text-align: center;
  }
  label {
    margin-left: -15px;
  }
  .first_col {
    width: 373px;
  }
  .input_02 {
    width: 310px;
    top: 98px;
  }
  .Your_photo {
    top: 654px;
  }
  .div_fields {
    padding: 0px;
    width: 355px;
  }
  #db_01 {
    top: 728px;
    width: 333px;
    padding: 0px;
  }
  .second_col {
    width: 372px;
  }
  .second_col h2 {
    top: 21px;
    font-size: 35px;
  }
  .imp_text {
    width: 260px;
    top: 85px;
  }

  #db_02 {
    width: 333px;
  }
  .input_01 {
    top: 311px;
  }
  .box_input input {
    width: 316px;
  }
  .four_col h3 {
    font-size: 36px;
    top: 21px;
    width: 230px;
    text-align: center;
    line-height: 47px;
  }
  .input_profec,
  .input_educ,
  .input_skl {
    width: 318px;
  }
  .input_ {
    width: 306px;
  }
  .third_col {
    width: 371px;
  }
  .third_col h3 {
    top: 28px;
    width: 236px;
    text-align: center;
    line-height: 41px;
  }
  .input_00 {
    width: 301px;
    top: 275px;
  }
  .input_0 {
    width: 301px;
    top: 121px;
  }
  .btns {
    margin-top: 6px;
  }
  #db_03 {
    top: 722px;
    width: 352px;
  }
  #db_04 {
    width: 342px;
  }
  .five_col {
    width: 355px;
  }
  .input_cert,
  .input_proj {
    width: 328px;
  }
  #db_05 {
    width: 319px;
  }
  .first_col,
  .third_col,
  .four_col,
  .five_col {
    width: 344px;
  }
}
@media screen and (max-width: 370px) {
  .first_col,
  .second_col,
  .third_col,
  .four_col,
  .five_col {
    width: 338px;
  }
  .first_col h3 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 10px;
    width: 180px;
  }
  .input_02 {
    width: 306px;
  }
  .direction_button {
    width: 275px;
  }
  #db_01 {
    width: 326px;
  }
  .second_col h2 {
    font-size: 32px;
    top: 27px;
  }
  .imp_text {
    width: 242px;
    top: 85px;
  }
  .input_01 {
    top: 317px;
  }
  #db_02 {
    width: 326px;
  }
  .input_0,
  .input_00 {
    width: 283px;
  }
  .btns {
    margin-top: 6px;
  }
  .input_profec,
  .input_educ,
  .input_skl {
    width: 290px;
  }
  .input_ {
    width: 295px;
  }
  .div_fields {
    width: 330px;
    padding: 0px;
  }
  .input_cert,
  .input_proj {
    width: 302px;
  }
}
